{% load startswith %}

<form action="" method="Post">
    {% csrf_token %}
    <label><input name="keyword" value="Python">輸入關鍵字 (職稱、公司名、技能專長)</label><br />
    <label><input type=number name="pages" value="5">輸入爬取幾頁的資料 (預設5頁)</label><br />
    <label>
        <select name="method">
            <option value="async">非同步 Async (速度快, 較不穩定)</option>
            <option value="sync">同步 Sync (速度慢, 較穩定)</option>
        </select>
    </label>選擇「同步(Sync)」或「非同步(Async)」的爬蟲方式
    <div>
        選擇地區
        <label><input type="checkbox" name="area1" value="6001001000">台北市</label>
        <label><input type="checkbox" name="area2" value="6001002000">新北市</label>
        <label><input type="checkbox" name="area3" value="6001006000">新竹市</label>
        <label><input type="checkbox" name="area4" value="6001008000">台中市</label>
        <label><input type="checkbox" name="area5" value="6001014000">台南市</label>
        <label><input type="checkbox" name="area6" value="6001016000">高雄市</label>
    </div>
    <div>
        經歷要求
        <label><input type="checkbox" name="experience1" value="1">1年以下</label>
        <label><input type="checkbox" name="experience2" value="3">1-3年</label>
        <label><input type="checkbox" name="experience3" value="5">3-5年</label>
        <label><input type="checkbox" name="experience4" value="10">5-10年</label>
        <label><input type="checkbox" name="experience5" value="99">10年以上</label>
    </div>
    <input type="submit" value="查詢">
</form>
<table border="1" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>刊登日期</th>
            <th>職位</th>
            <th>公司名稱</th>
            <th>城市</th>
            <th>經歷</th>
            <th>最低學歷</th>
            <th>薪水</th>
        </tr>
    </thead>
    <tbody>
        {% if result_len %}
            共搜尋到 {{ result_len }} 筆資料<br />
        {% endif %}
        {% if time %}
            搜尋時間： {{ time }} 秒
        {% endif %}
        {% for open in opening %}
        <tr>
            {% if open.date|str_startswith:'9999' %}
                <td>
                   <img src="{% static 'images/like-48px.png' %}" alt="like-48px" />
                </td>
            {% else %}
                <td>{{ open.date }}</td>
            {% endif %}
            <td>
                <a href="{{ open.link }}" target="_blank">{{ open.job }}</a>
            </td>
            <td>{{ open.company }}</td>
            <td>{{ open.city }}</td>
            <td>{{ open.experience }}</td>
            <td>{{ open.education }}</td>
            <td>{{ open.salary }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>